In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
sample = pd.read_csv('data/aal.csv')
sample.head(10)

,Unnamed: 0,Date,Hour,Tweet content,Followers,Hashtags,Symbols
0,0,2016-06-15,09:26,"Why American Airlines Group Inc $AAL, Novo Nor...",2039.0,NaN,"$AAL,$NVO,$SYF"
1,1,2016-06-15,08:18,Yesterday's top #FTSE100 fallers - Anglo Ameri...,1792.0,#FTSE100,"$AAL,$ANTO,$SKY,$BKG,$BLT"
2,2,2016-06-15,08:06,SA_QuickIdeas: 5 Large-Cap Stocks With The Low...,1589.0,NaN,"$AAL,$DAL,$HPQ,$TTM,$UAL,$VLO"
3,4,2016-06-15,08:01,$DAL $AAL:\n\n5 Large-Cap Stocks With The Lowe...,788.0,NaN,"$DAL,$AAL"
4,6,2016-06-15,07:40,RT @bnkinvest: Insiders Now Seeing Red With $A...,91.0,#stocks,$AAL
5,7,2016-06-15,07:13,$AAL With V $$$ https://t.co/3VwQmSrhlg,10.0,NaN,$AAL
6,8,2016-06-15,05:28,$AAL American Airlines To Remain In Bear Grip ...,33.0,NaN,$AAL
7,9,2016-06-15,05:07,Biggest losers today large caps:\n$SYF -13.11%...,183.0,NaN,"$SYF,$COF,$BSMX,$LUV,$BBDO,$NVO,$AAL,$T"
8,10,2016-06-15,04:15,| $AAL | American Airlines Group Inc. (NASDAQ:...,NaN,NaN,$AAL
9,12,2016-06-15,03:06,$AAL top ten OTM 7/15 CALLS by most OPEN INT. ...,117.0,"#stocks,#options",$AAL

In [11]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import string

In [10]:
sentence = sample["Tweet content"][4]
print(sentence)
analyzer = SentimentIntensityAnalyzer()
analyzer.polarity_scores(sentence)

RT @bnkinvest: Insiders Now Seeing Red With $AAL At New 52-Week Low #stocks https://t.co/9r7m5LPKY1

{'neg': 0.139, 'neu': 0.861, 'pos': 0.0, 'compound': -0.2732}

In [41]:
keys = ['neg', 'neu', 'pos', 'compound']
for k in keys:
    sample[k] = sample['Tweet content'].apply(lambda x : analyzer.polarity_scores(x)[k])
colnames = ['Date', 'Hour', 'Followers', 'neg', 'neu', 'pos', 'compound']
sample = sample[colnames]

In [42]:
sample.head()

         Date   Hour  Followers    neg    neu    pos  compound
0  2016-06-15  09:26     2039.0  0.170  0.830  0.000   -0.6249
1  2016-06-15  08:18     1792.0  0.000  0.904  0.096    0.2023
2  2016-06-15  08:06     1589.0  0.148  0.852  0.000   -0.3818
3  2016-06-15  08:01      788.0  0.206  0.794  0.000   -0.3818
4  2016-06-15  07:40       91.0  0.139  0.861  0.000   -0.2732

In [46]:
import os
for f in os.listdir('data'):
    df = pd.read_csv(os.path.join('data', f))
    for k in keys:
        df[k] = df['Tweet content'].apply(lambda x : analyzer.polarity_scores(x)[k])
    df = df[colnames]
    df.to_csv(os.path.join('sentiments', f))